/* ESTILOS NORMALES (para móviles en vertical)*/
 

 /*Estructura*/

p{
	display: inline-block;
}

 *{
 	margin: 0px;
 	padding: 0px;
 }

 .contenedor{
 	width: 100%;
 }


img {
width: 100%;
}

 /*Menu*/
ul{
	list-style: none;
	background:blue;
	display: flex;
}
 
 li{
 	flex:auto;
 	border-right: 1px solid white;
 	text-align: center;
 }

 li:nth-child(4) {
  border-right: none;
}


 li a{
 	text-decoration: none;
 	line-height: 3;
 	display: block;
 	color: white;
 }

 li a:hover{
 	color: black;
 	background: white;
 }


 /*Contenido*/
 article{
 	background: gray;
 	margin-top: 1%;;
 }

aside{
	margin-top: 1%;
	background: orange;
}

 /*Footer*/
 footer{
 	background: black;
 	color: white;
 	padding: 10px;
 	text-align: center;
 }

/* Móviles en horizontal o tablets en vertical*/
@media screen and (min-width: 768px) { 
	body{
		background:red;
	}

	.articles{
		display: flex;
		justify-content: space-around;
		flex-wrap:wrap;
	}

	article{
		width: 49%;
		padding: 8px;
		box-sizing:border-box;
	}
}
 
/* Tablets en horizonal y escritorios normales*/
@media screen and (min-width: 1024px) {
	body{
		background:green;
	} 

	.main{
		display: flex;
		justify-content: space-around;
		flex-wrap:wrap;
	}

	.articles{
		width: 80%;
	}

	aside{
		width: 19%;
		height: 15%;
		padding: 8px;
		box-sizing:border-box;
	}
	
	.contenedor{
		width: 90%;
		margin: auto;
	}
}
 
/*Escritorios muy anchos*/
@media screen and (min-width: 1200px) {
	body{
		background:purple;
	}

	.articles{
		width: 80%;
	}

	article{
		width: 32.6%;
	}

	aside{
		width: 19%;
		height: 15%;
		padding: 8px;
		box-sizing:border-box;
	}
	.contenedor{
		width: 95%;
		margin: auto;
	}
}
